.header , .hero , .body , .bar , .footer{
  background-color: #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
}
.box{
  min-height: 80px;
  background-color: red;
  font-size: 30px;
  color: white;
  margin-bottom: 10px; 
  
}
.green{
  background-color: green;
}
